<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
<link th:href="@{/css/admin.css}" rel="stylesheet">
<script th:src="@{/layui/layui.all.js}"></script>
<script th:src="@{/jquery/jquery-1.9.1.min.js}"></script>
<title>user register page</title>
</head>
<body>
	<div class="top">
		<ul class="layui-nav">
			<li class="layui-nav-item layui-this"><a th:href="@{/menu}">菜单首页<span
					class="layui-badge-dot"></span></a></li>
			<li class="layui-nav-item"><a th:href="@{/order/showOrder}">我的订单<span
					class="layui-badge" th:text="${session.orderCount}"></span></a></li>

			<li class="layui-nav-item" ><a href="" ><img
					src="//t.cn/RCzsdCq" class="layui-nav-img"><font th:text="${session.userInfo.userName}"></font></a>
				<dl class="layui-nav-child">
					<dd>
						<a th:href="@{/getUserInfo}">修改信息</a>
					</dd>
					<dd>
						<a th:href="@{/logout}">退出</a>
					</dd>
				</dl></li>
		</ul>
	</div>
	<div class="login-main">
		<div id="container">
			<div class="admin-login-background">
				<div class="admin-header" style="text-align: center">
					<!--  <img src="image/ex_logo.png" class="admin-logo" > -->
				</div>
						<form class="layui-form" th:action="@{/register}" th:method="post"
						onsubmit="return  checkForm()">

						<div>
							<i
								class="layui-icon layui-icon-username admin-icon admin-icon-username"></i>
							<input type="text" name="userName" placeholder="用户名"
								th:value="${session.userInfo.userName}" required="required"
								autocomplete="off"
								class="layui-input admin-input admin-input-username">
						</div>
						<div>
							<i
								class="layui-icon layui-icon-face-smile-b admin-icon admin-icon-face-smile-b"></i>
							<input type="text" name="likeTaste" placeholder="个人口味"
								th:value="${session.userInfo.likeTaste}" autocomplete="off"
								class="layui-input admin-input ">
						</div>
						<div>
							<i
								class="layui-icon layui-icon-face-cry admin-icon admin-icon-face-cry"></i>
							<input type="text" name="dislikeFood" placeholder="个人忌口"
								th:value="${session.userInfo.dislikeFood}" autocomplete="off"
								class="layui-input admin-input ">
						</div>
						<div>
							<i
								class="layui-icon layui-icon-location admin-icon admin-icon-location"></i>
							<input type="text" name="originPlace" placeholder="常驻地址"
								th:value="${session.userInfo.originPlace}" autocomplete="off"
								class="layui-input admin-input ">
						</div>
						<div>
							<i
								class="layui-icon layui-icon-cellphone admin-icon admin-icon-cellphone"></i>
							<input type="text" name="tel" placeholder="联系电话"
								th:value="${session.userInfo.tel}" required="required"
								autocomplete="off" class="layui-input admin-input ">
						</div>
						<div>
							<i
								class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
							<input type="password" name="password" placeholder="登录密码"
								required="required" autocomplete="off"
								class="layui-input admin-input">

						</div>
						<div>
							<i
								class="layui-icon layui-icon-password admin-icon admin-icon-password"></i>
							<input type="password" name="confirmPassword" placeholder="确认密码"
								required="required" autocomplete="off"
								class="layui-input admin-input admin-input-verify">

						</div>
						<button class="layui-btn admin-button" lay-submit
							lay-filter="formDemo" type="submit">立即修改</button>

					</form>
				<a th:href="@{/login}"> <font
					style="font-style: italic; font-size: 14px;">已有账号，返回登录</font></a>
			</div>
		</div>
		</div>
		<script>
			function checkForm() {
				var p1 = $("input[name='password']").val();
				var p2 = $("input[name='confirmPassword']").val();
				if (p1 != null && p1 == p2) {
					console.log("check successful");
					
					return true;
				} else {
					return false;

				}
			}
		</script>
</body>
</html>